{% extends 'base.html' %}


{% block 'conteudo' %}

<div class="container">
    <br>
    {% if status_categoria == '1' %}
    <div class="alert alert-success" role="alert">
        Categoria cadastrada com sucesso!
    </div>
    {% endif %}

    <div class="row">

        {% for livro in livros %}
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    
                    <h5 class="card-title">{{livro.nome}}</h5>
                    
                    <h6 style="display: inline;" class="card-subtitle mb-2 text-muted">Empresa</h6>
                    
                    {% if livro.emprestado %}
                    
                        <svg style='color: green'xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    {% else %}
                        
                            <svg style='color: red'xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                            </svg>
                    {% endif %}
                    <br>
                    <br>
                    <a href="{% url 'ver _livros' livro.id %}" class="btn btn-info">Acessar</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}       